.tarjeta-is {
    width: 300px;
    padding: 20px;
    background-color: #F2B6A0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 15px 30px; /* Espaciado interno ajustado */
    margin: 20px auto;
  }
  
  .tarjeta-cc{
  
    width: 450px;
    padding: 20px;
    background-color: #F2B6A0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 15px 30px; /* Espaciado interno ajustado */
    margin: 20px auto;
  
  }
  
  .tarjeta-is h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .tarjeta-cc h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .seccionCentrada{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-family: Arial, sans-serif;
      background-color: #f4f4f9;
  
  }
  
  input[type="email"],
  input[type="password"],
  input[type="text"],
  input[type="tel"] {
  
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 16px;
  }
  
  
  
  
  /* Estilo del botón de inicio de sesión */
  .button-is {
      width: 100%;
      padding: 10px;
      background-color: #e06468a6;
      color: white;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }
  
  .button-is:hover {
      background-color: #45a049;
  }
  
  /* Estilo para el texto de recuperar contraseña */
  p {
      margin-top: 15px;
      font-size: 14px;
      color: black;
  }
  
  /* Estilo del enlace de recuperar contraseña */
  section p a {
      color: #4CAF50;
      text-decoration: none;
  }
  
  a:hover {
      text-decoration: underline;
  }
  
@media (max-width: 480px) {
    .tarjeta-is,
    .tarjeta-cc {
      width: 90%; /* Ocupar casi todo el ancho de la pantalla */
      margin: 10px auto; /* Centrar con margen superior/inferior */
      padding: 15px; /* Reducir el relleno */
    }
  
    .tarjeta-is h2,
    .tarjeta-cc h2 {
      font-size: 1.5rem; /* Ajustar el tamaño del texto */
    }

    input[type="email"],
    input[type="password"],
    input[type="text"],
    input[type="tel"] {
        font-size: 14px; /* Reducir tamaño de texto */
        padding: 8px; /* Reducir padding interno */
        margin-bottom: 10px; /* Espaciado menor entre campos */
    }

    .button-is {
        padding: 8px 12px; /* Reducir padding del botón */
        font-size: 14px; /* Reducir tamaño del texto */
    }
}